      <main role="main" class="inner cover">
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Welcome to my Portfolio.</p>
        <p class="lead">
          <a href="<%= about_path %>" class="btn btn-lg btn-secondary">Learn more</a>
        </p>

        <p>Blind Text Generator</p>
            <p>The unique selling point of Blind Text Generator is that it really focuses on the needs of web designers. For instance, in addition to setting a custom number of words or paragraphs, you can also generate a specific number of characters. This comes in handy when testing form inputs. Also included is a selection of pre-populated HTML tags, which you can then copy and paste into your design. Don&rsquo;t like the standard lorem ipsum? Choose between different types of texts and languages.
        </p>
      </main>

     